<!--<div class="logo">-->
  <!--<a href="#">GoMobile</a>-->
<!--</div>-->

<div class="menu" style="background-color: red">
  <ul>
    <li class="green">
      <a routerLink="/about">
        <img src="assets/images/about.png" alt="" title="">
        <span>About Us</span>
      </a>
    </li>
    <li class="red">
      <a routerLink="/about">
        <img src="assets/images/tools.png" alt="" title="">
        <span>Services</span>
      </a></li>
    <li class="blue">
      <a routerLink="/about">
        <img src="assets/images/blog.png" alt="" title="">
        <span>Blog</span>
      </a>
    </li>
    <li class="orange">
      <a routerLink="/about">
        <img src="assets/images/docs.png" alt="" title="">
        <span>Portfolio</span>
      </a>
    </li>
    <li class="purple">
      <a routerLink="/about">
        <img src="assets/images/photos.png" alt="" title="">
        <span>Gallery</span>
      </a>
    </li>
    <li class="yellow">
      <a routerLink="/about">
        <img src="assets/images/clients.png" alt="" title="">
        <span>Clients</span>
      </a>
    </li>
    <li class="pink">
      <a routerLink="/about">
        <img src="assets/images/twitter.png" alt="" title="">
        <span>Twitter</span>
      </a>
    </li>
    <li class="bluegreen">
      <a routerLink="/about">
        <img src="assets/images/contact.png" alt="" title="">
        <span>Contact</span>
      </a>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>
