.menu ul li {
  list-style: none;
  margin: 3% 0 0 3%;
  padding: 5.5% 0;
  width: 45.5%;
  height: auto;
  float: left;
  display: block;
  text-align: center;
}
.green {
  background-color: #85af5d;
}
.red {
  background-color: #c53238;
}
.blue {
  background-color: #29aae3;
}
.orange {
  background-color: #f17225;
}
.purple {
  background-color: #8b2767;
}
.yellow {
  background-color: #ffb606;
}
.pink {
  background-color: #f87c68;
}
.bluegreen {
  background-color: #06a78b;
}
.menu ul li a span {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
}
.menu ul li img {
  display: inline-block;
  max-width: 50%;
}
.menu ul li a {
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .logo {
    padding: 30px 0 25px 15px;
    font-size: 40px;
  }
}
@media screen and (max-width: 800px) {
  .logo {
    padding: 35px 0 25px 20px;
    font-size: 45px;
  }
}
.logo, .logo a {
  color: #333;
}
a, span.tag {
  text-decoration: none;
}

.toolbar {
  height: 60px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  font-size: 12px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  line-height: 19px;
}
